body {
    background-color: lightgoldenrodyellow;
}
h1 {
    color: rgb(0, 0, 50);
    margin-left: 35px;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: rgb(0, 0, 50);
    outline-color: black;
}
h2 {
    color: rgb(0, 0, 50);
}
ul {
    color: rgb(0, 0, 50);
}

.aboutme {
    text-align: center;
}
body

.SchoolName {
    text-align: center;
}
nav {
    background-color: lightblue;
    text-align: center;
}


